*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Comfortaa', sans-serif;
}

.navbar{
	background-color: #558283ff;
	color: white;
}

.navbar-brand{
	color: #FED159ff;
}

.nav-link{
	color: white;
}

.contact_me{
	background-color: #558283ff;;
}