*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Comfortaa', sans-serif;
}


.navbar{
	background-color: #558283ff;
}

.navbar-brand{
	color: #FED159ff;
}

.nav-link{
	color: #FED159ff;
}

.navbar-toggler{
	border-color: #FED159ff;
	text-decoration-line: white;
}

/*Main Page*/
.ynet{
	color: #FED159ff;
	font-size: 30px;
}

.wd{
	color: #558283ff;
	font-size: 25px;
}

.about{
	font-size: 20px;
	text-align: justify;
}

.footer{
	background-color: #558283ff;
}

.quote{
	font-size: 18px;
}


/*Contact Page*/
.contact_me{
	background-color: #FED159ff;
	color: #558283ff;
	padding-top: 5px;
}

.lmkwyn{
	color: #558283ff;
}


/*Tools Page*/

.toggle{
	margin:16px;
	background-color: #FED159ff;
	border-color: #558283ff;
	border-width: 6px;
	margin: 12px;
	border-style: groove;
}

/*Project Page*/

.proj_title{
	color: #558283ff;
}

.card{
	background-color: rgba(32, 201, 151, 0.25);
	border-style: groove;
}

.slink{
	color: #FED159ff;
	text-underline-position: under;
}

